@font-face {
    font-family: 'eraserdust';
    src: url('eraserdust-webfont.eot');
    src: url('eraserdust-webfont.eot?#iefix') format('embedded-opentype'),
         url('eraserdust-webfont.woff') format('woff'),
         url('eraserdust-webfont.ttf') format('truetype'),
         url('eraserdust-webfont.svg#eraserdust') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'eraserregular';
    src: url('eraserregular-webfont.eot');
    src: url('eraserregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('eraserregular-webfont.woff') format('woff'),
         url('eraserregular-webfont.ttf') format('truetype'),
         url('eraserregular-webfont.svg#eraserregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'kg_ten_thousand_reasonsRg';
    src: url('kgtenthousandreasons-webfont.eot');
    src: url('kgtenthousandreasons-webfont.eot?#iefix') format('embedded-opentype'),
         url('kgtenthousandreasons-webfont.woff') format('woff'),
         url('kgtenthousandreasons-webfont.ttf') format('truetype'),
         url('kgtenthousandreasons-webfont.svg#kg_ten_thousand_reasonsRg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'kg_ten_thousand_reasons_altRg';
    src: url('kgtenthousandreasonsalt-webfont.eot');
    src: url('kgtenthousandreasonsalt-webfont.eot?#iefix') format('embedded-opentype'),
         url('kgtenthousandreasonsalt-webfont.woff') format('woff'),
         url('kgtenthousandreasonsalt-webfont.ttf') format('truetype'),
         url('kgtenthousandreasonsalt-webfont.svg#kg_ten_thousand_reasons_altRg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'whatever_it_takesregular';
    src: url('whatever_it_takes-webfont.eot');
    src: url('whatever_it_takes-webfont.eot?#iefix') format('embedded-opentype'),
         url('whatever_it_takes-webfont.woff') format('woff'),
         url('whatever_it_takes-webfont.ttf') format('truetype'),
         url('whatever_it_takes-webfont.svg#whatever_it_takesregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'indie_flowerregular';
    src: url('IndieFlower-webfont.eot');
    src: url('IndieFlower-webfont.eot?#iefix') format('embedded-opentype'),
         url('IndieFlower-webfont.woff2') format('woff2'),
         url('IndieFlower-webfont.woff') format('woff'),
         url('IndieFlower-webfont.ttf') format('truetype'),
         url('IndieFlower-webfont.svg#indie_flowerregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'just_me_again_down_hereRg';
    src: url('JustMeAgainDownHere-webfont.eot');
    src: url('JustMeAgainDownHere-webfont.eot?#iefix') format('embedded-opentype'),
         url('JustMeAgainDownHere-webfont.woff2') format('woff2'),
         url('JustMeAgainDownHere-webfont.woff') format('woff'),
         url('JustMeAgainDownHere-webfont.ttf') format('truetype'),
         url('JustMeAgainDownHere-webfont.svg#just_me_again_down_hereRg') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'oreganoregular';
    src: url('Oregano-Regular-webfont.eot');
    src: url('Oregano-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Oregano-Regular-webfont.woff2') format('woff2'),
         url('Oregano-Regular-webfont.woff') format('woff'),
         url('Oregano-Regular-webfont.ttf') format('truetype'),
         url('Oregano-Regular-webfont.svg#oreganoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'over_the_rainbowregular';
    src: url('OvertheRainbow-webfont.eot');
    src: url('OvertheRainbow-webfont.eot?#iefix') format('embedded-opentype'),
         url('OvertheRainbow-webfont.woff2') format('woff2'),
         url('OvertheRainbow-webfont.woff') format('woff'),
         url('OvertheRainbow-webfont.ttf') format('truetype'),
         url('OvertheRainbow-webfont.svg#over_the_rainbowregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'paprikaregular';
    src: url('Paprika-Regular-webfont.eot');
    src: url('Paprika-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Paprika-Regular-webfont.woff2') format('woff2'),
         url('Paprika-Regular-webfont.woff') format('woff'),
         url('Paprika-Regular-webfont.ttf') format('truetype'),
         url('Paprika-Regular-webfont.svg#paprikaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'playfair_displayregular';
    src: url('PlayfairDisplay-Regular-webfont.eot');
    src: url('PlayfairDisplay-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('PlayfairDisplay-Regular-webfont.woff2') format('woff2'),
         url('PlayfairDisplay-Regular-webfont.woff') format('woff'),
         url('PlayfairDisplay-Regular-webfont.ttf') format('truetype'),
         url('PlayfairDisplay-Regular-webfont.svg#playfair_displayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'poiret_oneregular';
    src: url('PoiretOne-Regular-webfont.eot');
    src: url('PoiretOne-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('PoiretOne-Regular-webfont.woff2') format('woff2'),
         url('PoiretOne-Regular-webfont.woff') format('woff'),
         url('PoiretOne-Regular-webfont.ttf') format('truetype'),
         url('PoiretOne-Regular-webfont.svg#poiret_oneregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotoregular';
    src: url('Roboto-Regular-webfont.eot');
    src: url('Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Regular-webfont.woff2') format('woff2'),
         url('Roboto-Regular-webfont.woff') format('woff'),
         url('Roboto-Regular-webfont.ttf') format('truetype'),
         url('Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'alegreya_scregular';
    src: url('AlegreyaSC-Regular-webfont.eot');
    src: url('AlegreyaSC-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('AlegreyaSC-Regular-webfont.woff2') format('woff2'),
         url('AlegreyaSC-Regular-webfont.woff') format('woff'),
         url('AlegreyaSC-Regular-webfont.ttf') format('truetype'),
         url('AlegreyaSC-Regular-webfont.svg#alegreya_scregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'amatic_scregular';
    src: url('AmaticSC-Regular-webfont.eot');
    src: url('AmaticSC-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('AmaticSC-Regular-webfont.woff2') format('woff2'),
         url('AmaticSC-Regular-webfont.woff') format('woff'),
         url('AmaticSC-Regular-webfont.ttf') format('truetype'),
         url('AmaticSC-Regular-webfont.svg#amatic_scregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'antonregular';
    src: url('Anton-webfont.eot');
    src: url('Anton-webfont.eot?#iefix') format('embedded-opentype'),
         url('Anton-webfont.woff2') format('woff2'),
         url('Anton-webfont.woff') format('woff'),
         url('Anton-webfont.ttf') format('truetype'),
         url('Anton-webfont.svg#antonregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'audiowideregular';
    src: url('Audiowide-Regular-webfont.eot');
    src: url('Audiowide-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Audiowide-Regular-webfont.woff2') format('woff2'),
         url('Audiowide-Regular-webfont.woff') format('woff'),
         url('Audiowide-Regular-webfont.ttf') format('truetype'),
         url('Audiowide-Regular-webfont.svg#audiowideregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'cinzelregular';
    src: url('Cinzel-Regular-webfont.eot');
    src: url('Cinzel-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Cinzel-Regular-webfont.woff2') format('woff2'),
         url('Cinzel-Regular-webfont.woff') format('woff'),
         url('Cinzel-Regular-webfont.ttf') format('truetype'),
         url('Cinzel-Regular-webfont.svg#cinzelregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'covered_by_your_graceregular';
    src: url('CoveredByYourGrace-webfont.eot');
    src: url('CoveredByYourGrace-webfont.eot?#iefix') format('embedded-opentype'),
         url('CoveredByYourGrace-webfont.woff2') format('woff2'),
         url('CoveredByYourGrace-webfont.woff') format('woff'),
         url('CoveredByYourGrace-webfont.ttf') format('truetype'),
         url('CoveredByYourGrace-webfont.svg#covered_by_your_graceregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'dancing_scriptregular';
    src: url('DancingScript-Regular-webfont.eot');
    src: url('DancingScript-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('DancingScript-Regular-webfont.woff2') format('woff2'),
         url('DancingScript-Regular-webfont.woff') format('woff'),
         url('DancingScript-Regular-webfont.ttf') format('truetype'),
         url('DancingScript-Regular-webfont.svg#dancing_scriptregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'fredericka_the_greatregular';
    src: url('FrederickatheGreat-Regular-webfont.eot');
    src: url('FrederickatheGreat-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('FrederickatheGreat-Regular-webfont.woff2') format('woff2'),
         url('FrederickatheGreat-Regular-webfont.woff') format('woff'),
         url('FrederickatheGreat-Regular-webfont.ttf') format('truetype'),
         url('FrederickatheGreat-Regular-webfont.svg#fredericka_the_greatregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'fredoka_oneregular';
    src: url('FredokaOne-Regular-webfont.eot');
    src: url('FredokaOne-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('FredokaOne-Regular-webfont.woff2') format('woff2'),
         url('FredokaOne-Regular-webfont.woff') format('woff'),
         url('FredokaOne-Regular-webfont.ttf') format('truetype'),
         url('FredokaOne-Regular-webfont.svg#fredoka_oneregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'frijoleregular';
    src: url('Frijole-Regular-webfont.eot');
    src: url('Frijole-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Frijole-Regular-webfont.woff2') format('woff2'),
         url('Frijole-Regular-webfont.woff') format('woff'),
         url('Frijole-Regular-webfont.ttf') format('truetype'),
         url('Frijole-Regular-webfont.svg#frijoleregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'gochi_handregular';
    src: url('GochiHand-Regular-webfont.eot');
    src: url('GochiHand-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('GochiHand-Regular-webfont.woff2') format('woff2'),
         url('GochiHand-Regular-webfont.woff') format('woff'),
         url('GochiHand-Regular-webfont.ttf') format('truetype'),
         url('GochiHand-Regular-webfont.svg#gochi_handregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'graduateregular';
    src: url('Graduate-Regular-webfont.eot');
    src: url('Graduate-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Graduate-Regular-webfont.woff2') format('woff2'),
         url('Graduate-Regular-webfont.woff') format('woff'),
         url('Graduate-Regular-webfont.ttf') format('truetype'),
         url('Graduate-Regular-webfont.svg#graduateregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'holtwood_one_scregular';
    src: url('HoltwoodOneSC-webfont.eot');
    src: url('HoltwoodOneSC-webfont.eot?#iefix') format('embedded-opentype'),
         url('HoltwoodOneSC-webfont.woff2') format('woff2'),
         url('HoltwoodOneSC-webfont.woff') format('woff'),
         url('HoltwoodOneSC-webfont.ttf') format('truetype'),
         url('HoltwoodOneSC-webfont.svg#holtwood_one_scregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'homemade_appleregular';
    src: url('HomemadeApple-webfont.eot');
    src: url('HomemadeApple-webfont.eot?#iefix') format('embedded-opentype'),
         url('HomemadeApple-webfont.woff2') format('woff2'),
         url('HomemadeApple-webfont.woff') format('woff'),
         url('HomemadeApple-webfont.ttf') format('truetype'),
         url('HomemadeApple-webfont.svg#homemade_appleregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'julius_sans_oneregular';
    src: url('JuliusSansOne-Regular-webfont.eot');
    src: url('JuliusSansOne-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('JuliusSansOne-Regular-webfont.woff2') format('woff2'),
         url('JuliusSansOne-Regular-webfont.woff') format('woff'),
         url('JuliusSansOne-Regular-webfont.ttf') format('truetype'),
         url('JuliusSansOne-Regular-webfont.svg#julius_sans_oneregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latoregular';
    src: url('Lato-Regular-webfont.eot');
    src: url('Lato-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Lato-Regular-webfont.woff2') format('woff2'),
         url('Lato-Regular-webfont.woff') format('woff'),
         url('Lato-Regular-webfont.ttf') format('truetype'),
         url('Lato-Regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'lily_script_oneregular';
    src: url('LilyScriptOne-Regular-webfont.eot');
    src: url('LilyScriptOne-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('LilyScriptOne-Regular-webfont.woff2') format('woff2'),
         url('LilyScriptOne-Regular-webfont.woff') format('woff'),
         url('LilyScriptOne-Regular-webfont.ttf') format('truetype'),
         url('LilyScriptOne-Regular-webfont.svg#lily_script_oneregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'marvelregular';
    src: url('Marvel-Regular-webfont.eot');
    src: url('Marvel-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Marvel-Regular-webfont.woff2') format('woff2'),
         url('Marvel-Regular-webfont.woff') format('woff'),
         url('Marvel-Regular-webfont.ttf') format('truetype'),
         url('Marvel-Regular-webfont.svg#marvelregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'monotonregular';
    src: url('Monoton-Regular-webfont.eot');
    src: url('Monoton-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Monoton-Regular-webfont.woff2') format('woff2'),
         url('Monoton-Regular-webfont.woff') format('woff'),
         url('Monoton-Regular-webfont.ttf') format('truetype'),
         url('Monoton-Regular-webfont.svg#monotonregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'orbitronregular';
    src: url('Orbitron-Regular-webfont.eot');
    src: url('Orbitron-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Orbitron-Regular-webfont.woff2') format('woff2'),
         url('Orbitron-Regular-webfont.woff') format('woff'),
         url('Orbitron-Regular-webfont.ttf') format('truetype'),
         url('Orbitron-Regular-webfont.svg#orbitronregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'pacificoregular';
    src: url('Pacifico-webfont.eot');
    src: url('Pacifico-webfont.eot?#iefix') format('embedded-opentype'),
         url('Pacifico-webfont.woff2') format('woff2'),
         url('Pacifico-webfont.woff') format('woff'),
         url('Pacifico-webfont.ttf') format('truetype'),
         url('Pacifico-webfont.svg#pacificoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'petit_formal_scriptregular';
    src: url('PetitFormalScript-Regular-webfont.eot');
    src: url('PetitFormalScript-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('PetitFormalScript-Regular-webfont.woff2') format('woff2'),
         url('PetitFormalScript-Regular-webfont.woff') format('woff'),
         url('PetitFormalScript-Regular-webfont.ttf') format('truetype'),
         url('PetitFormalScript-Regular-webfont.svg#petit_formal_scriptregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'pt_sans_narrowregular';
    src: url('PT_Sans-Narrow-Web-Regular-webfont.eot');
    src: url('PT_Sans-Narrow-Web-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('PT_Sans-Narrow-Web-Regular-webfont.woff2') format('woff2'),
         url('PT_Sans-Narrow-Web-Regular-webfont.woff') format('woff'),
         url('PT_Sans-Narrow-Web-Regular-webfont.ttf') format('truetype'),
         url('PT_Sans-Narrow-Web-Regular-webfont.svg#pt_sans_narrowregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'questrialregular';
    src: url('Questrial-Regular-webfont.eot');
    src: url('Questrial-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Questrial-Regular-webfont.woff2') format('woff2'),
         url('Questrial-Regular-webfont.woff') format('woff'),
         url('Questrial-Regular-webfont.ttf') format('truetype'),
         url('Questrial-Regular-webfont.svg#questrialregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'reenie_beanieregular';
    src: url('ReenieBeanie-webfont.eot');
    src: url('ReenieBeanie-webfont.eot?#iefix') format('embedded-opentype'),
         url('ReenieBeanie-webfont.woff2') format('woff2'),
         url('ReenieBeanie-webfont.woff') format('woff'),
         url('ReenieBeanie-webfont.ttf') format('truetype'),
         url('ReenieBeanie-webfont.svg#reenie_beanieregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'rock_saltregular';
    src: url('RockSalt-webfont.eot');
    src: url('RockSalt-webfont.eot?#iefix') format('embedded-opentype'),
         url('RockSalt-webfont.woff2') format('woff2'),
         url('RockSalt-webfont.woff') format('woff'),
         url('RockSalt-webfont.ttf') format('truetype'),
         url('RockSalt-webfont.svg#rock_saltregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'sacramentoregular';
    src: url('Sacramento-Regular-webfont.eot');
    src: url('Sacramento-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Sacramento-Regular-webfont.woff2') format('woff2'),
         url('Sacramento-Regular-webfont.woff') format('woff'),
         url('Sacramento-Regular-webfont.ttf') format('truetype'),
         url('Sacramento-Regular-webfont.svg#sacramentoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'sancreekregular';
    src: url('Sancreek-Regular-webfont.eot');
    src: url('Sancreek-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Sancreek-Regular-webfont.woff2') format('woff2'),
         url('Sancreek-Regular-webfont.woff') format('woff'),
         url('Sancreek-Regular-webfont.ttf') format('truetype'),
         url('Sancreek-Regular-webfont.svg#sancreekregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'sarinaregular';
    src: url('Sarina-Regular-webfont.eot');
    src: url('Sarina-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Sarina-Regular-webfont.woff2') format('woff2'),
         url('Sarina-Regular-webfont.woff') format('woff'),
         url('Sarina-Regular-webfont.ttf') format('truetype'),
         url('Sarina-Regular-webfont.svg#sarinaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'special_eliteregular';
    src: url('SpecialElite-webfont.eot');
    src: url('SpecialElite-webfont.eot?#iefix') format('embedded-opentype'),
         url('SpecialElite-webfont.woff2') format('woff2'),
         url('SpecialElite-webfont.woff') format('woff'),
         url('SpecialElite-webfont.ttf') format('truetype'),
         url('SpecialElite-webfont.svg#special_eliteregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'unifrakturmaguntiabook';
    src: url('UnifrakturMaguntia-Book-webfont.eot');
    src: url('UnifrakturMaguntia-Book-webfont.eot?#iefix') format('embedded-opentype'),
         url('UnifrakturMaguntia-Book-webfont.woff2') format('woff2'),
         url('UnifrakturMaguntia-Book-webfont.woff') format('woff'),
         url('UnifrakturMaguntia-Book-webfont.ttf') format('truetype'),
         url('UnifrakturMaguntia-Book-webfont.svg#unifrakturmaguntiabook') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'vast_shadowregular';
    src: url('VastShadow-Regular-webfont.eot');
    src: url('VastShadow-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('VastShadow-Regular-webfont.woff2') format('woff2'),
         url('VastShadow-Regular-webfont.woff') format('woff'),
         url('VastShadow-Regular-webfont.ttf') format('truetype'),
         url('VastShadow-Regular-webfont.svg#vast_shadowregular') format('svg');
    font-weight: normal;
    font-style: normal;

}